#charlie{
    .header{
        border-bottom: 1px solid var(--secondary-color);
        p{
            margin: 1em 0em;
        }
    }
    .header, .chat, .user-input{
        width: 100%;
    }
    .chat{
        height: 70%;
        border-radius: 10px;
        margin: 1em 0em;
        padding: 1em 0.2em;
        p{
            padding: 1em;
            margin: 1em 0em;
            background-color: rgba(100,100,200, 0.4);
            border-radius: 25px;
            width: 80%;
            text-align: start;
        }
        .chat-message-user{
            text-align: end;
            margin-left: auto;
            font-weight: bold;
            background-color: rgba(100,100,200, 0.2);
        }
    }
    .user-input{
        padding: 1em;
        border: 1px solid var(--secondary-color);
        border-radius: 10px 10px 20px 20px;
        @extend .flex-central;
        textarea{
            color: var(--contrast-color);
            flex-grow: 1;
            margin-right: 0.5em;
            background: none;
            border: none;
            &::placeholder{
                color: var(--contrast-color);
                opacity: 0.8;
            }
            &:focus{
                outline: none;
            }
        }
        button{
            font-weight: bolder;
            font-size: 0.8em;
            min-width: 5.5em;
            min-height: 2.5em;
            border-radius: 20px;
            background-color: var(--contrast-color);
            color: var(--bg-color);
            border: none;
            opacity: 0.9;
            &:hover{
                opacity: 1;
                box-shadow: 1px 1px 2px var(--shine-color);
                transition: 0.2s;
            }
        }
        &:hover, &:focus{
            border: 1px solid var(--contrast-color);
        }
    }
}