#home{
    @extend .zoom-in;
    .border{
        border-radius: 100%;
        background-color: var(--primary-color);
        @extend .flex-central;
        animation: border 4s ease-in-out infinite;
        .avatar{
            border-radius: 100%;
            background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
            width: 180px;
            height: 180px;
        }
    }
}