header, main, footer {
  margin: 1em;
  text-align: center;
}

header h2 {
  margin-bottom: 2px;
}
header .icons a, header .icons button {
  margin: 2px 7px;
  opacity: 0.8;
  font-size: 1.3em;
  text-decoration: none;
  color: var(--contrast-color);
}
header .icons a:hover, header .icons button:hover {
  text-shadow: 0px 0px 3px var(--contrast-color);
  opacity: 1;
  transition: 0.4s;
}
header .icons button {
  display: flex;
  border: none;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  color: var(--contrast-color);
}
header .icons #theme-btn {
  font-size: 1.05em;
}

main {
  flex-direction: column;
  height: 60vh;
  width: 90vw;
  padding: 1.5em;
  animation: slideIn 1s forwards;
  transform-origin: center;
  opacity: 0;
}

footer, .page-container {
  background-color: var(--primary-color);
  border-radius: 40px;
}

footer {
  width: 90vw;
  padding: 1em 2em;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
footer ul li {
  margin: 5px;
  font-size: 0.9em;
}
footer ul li a {
  color: var(--contrast-color);
  font-weight: bolder;
  opacity: 0.8;
  text-decoration: none;
  position: relative;
}
footer ul li a:hover {
  opacity: 1;
  text-shadow: 0px 0px 1px var(--contrast-color);
  transition: 0.4s;
}
footer ul li a:hover .tooltip {
  display: inline-block;
}

.waiting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
.waiting-container span {
  width: 0.4em;
  height: 0.4em;
  border-radius: 100%;
  background-color: var(--bg-color);
  margin: 0 3px;
  animation: loading 1s infinite;
}
.waiting-container span:nth-child(2) {
  animation-delay: 0.1s;
}
.waiting-container span:nth-child(3) {
  animation-delay: 0.2s;
}

@media (min-width: 769px) {
  #about .overflow {
    max-width: 700px;
  }
  #projects .carousel .carousel-item {
    max-width: 600px;
  }
  #projects .carousel .carousel-item img {
    max-width: 100%;
  }
  main, footer {
    max-width: 60vw;
  }
}
@keyframes border {
  0% {
    padding: 8px;
  }
  50% {
    padding: 24px;
  }
  100% {
    padding: 8px;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#home {
  animation: zoomIn 1s forwards;
}
#home .border {
  border-radius: 100%;
  background-color: var(--primary-color);
  animation: border 4s ease-in-out infinite;
}
#home .border .avatar {
  border-radius: 100%;
  background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
  width: 180px;
  height: 180px;
}

#about {
  text-align: start;
}
#about h2 {
  margin-bottom: 10px;
  text-align: center;
}
#about h4 {
  align-self: flex-start;
  margin: 10px 0px;
}
#about p {
  font-size: 0.9em;
}
#about .skills p {
  display: inline-flex;
  margin: 0px 5px 10px 0px;
  padding: 5px;
  background-color: var(--bg-color);
  border-radius: 7px;
  font-weight: bolder;
}
#about .skills p:hover {
  background-color: var(--contrast-color);
  color: var(--bg-color);
  transition: 0.3s;
}

#projects {
  justify-content: flex-start;
}
#projects h2 {
  margin-bottom: 10px;
}
#projects .carousel {
  margin-top: 15px;
  min-height: 35vh;
}
#projects .carousel .carousel-item img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
#projects .carousel .carousel-item img:hover {
  box-shadow: 0px 0px 6px var(--shine-color);
  transition: 0.2s;
}
#projects .carousel .carousel-item p {
  max-width: 100%;
}
#projects .carousel button {
  padding: 5px 8px;
  margin: 7px;
  border: none;
  background-color: var(--contrast-color);
  color: var(--bg-color);
  font-weight: bold;
  border-radius: 100%;
}
#projects .carousel button:hover {
  box-shadow: 0px 0px 6px var(--shine-color);
  transition: 0.2s;
}

#contact h2 {
  margin-bottom: 10px;
}
#contact form {
  flex-direction: column;
  padding: 1em;
}
#contact form input, #contact form textarea, #contact form button {
  padding: 12px 24px;
  border-radius: 20px;
}
#contact form input, #contact form textarea {
  margin: 0.5em;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--contrast-color);
  border: none;
}
#contact form input::placeholder, #contact form textarea::placeholder {
  color: var(--contrast-color);
  opacity: 0.8;
}
#contact form input:focus, #contact form textarea:focus {
  outline: none;
}
#contact form button {
  background: var(--contrast-color);
  border: none;
  color: var(--bg-color);
  font-weight: bolder;
  margin-top: 10px;
}
#contact form button:hover {
  padding: 12px 48px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

#charlie .header {
  border-bottom: 1px solid var(--shine-color);
}
#charlie .header p {
  margin: 1em 0em;
}
#charlie .header, #charlie .chat, #charlie .user-input {
  width: 100%;
}
#charlie .chat {
  height: 70%;
  border-radius: 10px;
  margin: 1em 0em;
  padding: 1em 0.2em;
}
#charlie .chat p {
  padding: 1em;
  margin: 1em 0em;
  background-color: var(--bg-color);
  border-radius: 25px;
  width: 80%;
  text-align: start;
}
#charlie .chat .chat-message-user {
  text-align: end;
  margin-left: auto;
  font-weight: bold;
  background-color: var(--contrast-color);
  color: var(--bg-color);
}
#charlie .user-input {
  padding: 1em;
  border: 1px solid var(--shine-color);
  border-radius: 10px 10px 20px 20px;
}
#charlie .user-input textarea {
  color: var(--contrast-color);
  flex-grow: 1;
  margin-right: 0.5em;
  background: none;
  border: none;
}
#charlie .user-input textarea::placeholder {
  color: var(--contrast-color);
  opacity: 0.8;
}
#charlie .user-input textarea:focus {
  outline: none;
}
#charlie .user-input button {
  font-weight: bolder;
  font-size: 0.8em;
  min-width: 5.5em;
  min-height: 2.5em;
  border-radius: 20px;
  background-color: var(--contrast-color);
  color: var(--bg-color);
  border: none;
  opacity: 0.9;
}
#charlie .user-input button:hover {
  opacity: 1;
  box-shadow: 1px 1px 2px var(--shine-color);
  transition: 0.2s;
}
#charlie .user-input:hover, #charlie .user-input:focus {
  border: 1px solid var(--contrast-color);
}

:root {
  --bg-color: #f5f5f7;
  --primary-color: #fff;
  --gradient-first-color: #8c52ff;
  --gradient-second-color: #5ce1e6;
  --contrast-color: #222831;
  --shine-color: rgba(0,0,0, 0.4);
}

.flex-central, body, header .icons, main, #home .border, #projects .carousel, #contact form, #charlie .user-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-text {
  background: linear-gradient(to left, var(--gradient-first-color), var(--gradient-second-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  color: var(--contrast-color);
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--contrast-color);
  border-radius: 20px;
  border: 1px solid var(--primary-color);
}

::selection {
  background-color: var(--contrast-color);
  color: var(--primary-color);
}

.overflow {
  overflow-y: auto;
  padding-right: 5px;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.tooltip {
  display: none;
  position: absolute;
  left: -1.5em;
  bottom: 1.7em;
  background-color: var(--contrast-color);
  color: var(--bg-color);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.reverse-true {
  flex-direction: row-reverse;
}

/*# sourceMappingURL=style.css.map */
