header, main, footer{
    margin: 1em;
    text-align: center;
}

header{
    h2{
        margin-bottom: 2px;
    }
    .icons{
        @extend .flex-central;
        a,button{
            margin: 2px 7px;
            opacity: 0.8;
            font-size: 1.3em;
            text-decoration: none;
            color: var(--contrast-color);
            &:hover{
                text-shadow: 0px 0px 3px var(--contrast-color);
                opacity: 1;
                transition: 0.4s;
            }
        }
        button{
            display: flex;
            border: none;
            border-radius: 10px;
            background: none;
            cursor: pointer;
            color: var(--contrast-color);
        }
        #theme-btn{
            font-size: 1.05em;
        }
    }
}

main{
    @extend .flex-central;
    flex-direction: column;
    height: 60vh;
    width: 90vw;
    padding: 1.5em;
    transform-origin: center;
    opacity: 0;
}

.page-container{
    animation: slideIn 1s forwards;
}

footer, .page-container{
    background-color: var(--primary-color);
    border-radius: 40px;
}

footer{
    width: 90vw;
    padding: 1em 2em;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        li{
            margin: 5px;
            font-size: 0.9em;
            a{
                color: var(--contrast-color);
                font-weight: bolder;
                opacity: 0.8;
                text-decoration: none;
                position: relative;
                &:hover{
                    opacity: 1;
                    text-shadow: 0px 0px 1px var(--contrast-color);
                    transition: 0.4s;
                    .tooltip{
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.waiting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
  
    span {
      width: 0.4em;
      height: 0.4em;
      border-radius: 100%;
      background-color: var(--contrast-color);
      margin: 0 3px;
      animation: loading 1s infinite;
  
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
  
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
    }
}

.waiting-container-secondary {
    @extend .waiting-container;
    span{
        background-color: var(--bg-color);
    }
}