//Imports
@import './template/layout.scss';
@import './template/responsivity.scss';
@import './template/animations.scss';
@import './pages/home.scss';
@import './pages/about.scss';
@import './pages/projects.scss';
@import './pages/contact.scss';
@import './pages/charlie.scss';

//Colors
:root{
    --bg-color: #f5f5f7;
    --primary-color: #fff;
    --gradient-first-color: #8c52ff;
    --gradient-second-color: #5ce1e6; // #ff914d;
    --contrast-color: #222831;
    --shine-color: rgba(0,0,0, 0.4);
}

//Extends
.flex-central{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-text{
    background: linear-gradient(to left, var(--gradient-first-color), var(--gradient-second-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

//General Itens
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
} 
body{
    @extend .flex-central;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    color: var(--contrast-color);
    background-color: var(--bg-color);
}
::-webkit-scrollbar{
    width: 12px;             
}
::-webkit-scrollbar-track{
    background: var(--primary-color);
}  
::-webkit-scrollbar-thumb{
    background-color: var(--contrast-color);    
    border-radius: 20px;      
    border: 1px solid var(--primary-color); 
}
::selection{
    background-color: var(--contrast-color);
    color: var(--primary-color);
}
.overflow{
    overflow-y: auto;
    padding-right: 5px;
}
button{
    cursor: pointer;
}
textarea{
    resize: none;
}
.tooltip{
    display: none;
    position: absolute;
    left: -1.5em;
    bottom: 1.7em;
    background-color: var(--contrast-color);
    color: var(--bg-color);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.4);
}
.reverse-true{
    flex-direction: row-reverse;
}
